* {
  line-height: 1.2;
  margin: 0;
}

@font-face {
  font-family: Arla;
  src: url(../fonts/ArlaIF_W_Rg.woff);
}

@font-face {
  font-family: ArlaBold;
  src: url(../fonts/ArlaIF_W_Bd.woff);
}

html {
  color: #333;
  display: table;
  font-family: Arla, Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 1em 0;
  font-family: ArlaBold;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 2.5em 0 1em;
  font-family: ArlaBold;
}

canvas {
  max-width: 80%;
  margin: 0 auto 2em auto;
}

.flexcontainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.statistic {
  width: 30%;
  margin: 0;
}

.achievement {
  margin: 1em;
}

.achievement img {
  width: 100px;
  margin: 1em;
}

header img {
  width: 150px;
  border-radius: 50%;
  border: solid 4px #006c3a;
}

nav {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

.submitdata {
  background-color: #006c3a;
  margin: 0em auto 10em auto;
  color: #fff;
  padding: 1em;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}

.submitdata:hover {
  background-color: #4bb131;
  margin: 0em auto 10em auto;
  color: #fff;
  padding: 1em;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}