/* ---------- root variables ---------- */
:root {
  --green: #006c3a;
  --light-green: #4bb131;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
@font-face {
  font-family: Arla;
  src: url(../fonts/ArlaIF_W_Rg.woff);
}

@font-face {
  font-family: ArlaBold;
  src: url(../fonts/ArlaIF_W_Bd.woff);
}

* {
  font-family: Arla, sans-serif;
}

html {
  color: var(--text-color-dark);
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
  margin-left: 120px;
}

h1 {
  font-size: 2em;
  font-family: ArlaBold, sans-serif;
}

h2 {
  font-size: 2em;
  font-family: ArlaBold, sans-serif;
  padding-top: 1em;
}

h3 {
  font-size: 1.3em;
  font-family: ArlaBold, sans-serif;
}

p {
  margin: 0;
  line-height: 1;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 120px;
  padding: 0;
  margin: 0;
}

.tabbar img {
  width: 100%;
  max-width: 120px;
  background: var(--green);
  margin-bottom: 1em;
}

.tabbar img:hover {
  background: radial-gradient(var(--light-green), var(--green));
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: block;
  color: var(--text-color-dark);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-left: 4px solid white;
  border-right: 4px solid white;
  margin-bottom: 2em;
}

/* Change the color of links on hover */
.tabbar a:hover {
  color: var(--green);
}

/* Add a color to the active/current link */
.tabbar a.active {
  color: var(--green);
  border-left: 4px solid var(--green);
}

.tabbar i {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: #eff2f0;
  animation: fadeIn 0.4s;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- input form stryling ---------- */
form {
  padding: 2em 1em 2.5em;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
  max-width: 350px;
}

article button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 8px;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 40%;
}

article button.rm {
  background-color: var(--light-green);
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container > article {
  text-align: center;
  padding: 10px;
}

.grid-container > article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
}

.grid-container > article h3 {
  font-weight: 200;
}

.image-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.firebaseui-button {
  max-width: 35%;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}

.mdl-button--primary.mdl-button--primary {
  color: var(--green);
}

/* Jacob CSS -------------------------------------------------------*/
.profilePicture {
  margin: auto 0;
  border-radius: 50%;
  width: 100%;
  max-width: 140px;
  max-height: 140px;
  box-shadow: 0 0 0 5px #fff, 0 0 0 8px var(--green);
  transition: box-shadow 0.2s ease-out;
}

.profilePicture:hover {
  border-radius: 50%;
  max-width: 140px;
  box-shadow: 0 0 0 5px #fff, 0 0 0 8px var(--light-green);
}

.frontPageWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto 0 auto;
}

.bedrifter {
  width: 80%;
  max-width: 600px;
  margin: 1em auto 1em auto;
}

.frontPageContainer {
  border-radius: 30px;
  background-color: #fff;
  width: 100%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.achievement {
  width: 38%;
  margin: 2em 1.5em;
}

.achievement img {
  max-width: 80px;
}

.welcome {
  width: 100%;
  text-align: center;
  margin: 3em auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.counter-thingy {
  width: 100%;
  max-width: 200px;
  margin: auto 2em;
  display: none;
}

.counter-thingy p {
  font-size: 30px;
  font-family: ArlaBold;
  margin: 0.5em;
}

.counter-icon {
  max-width: 50px;
  margin: 0 4em;
}

.stor-knap {
  padding: 1em 3em;
  font-size: 16px;
  text-transform: uppercase;
  font-family: ArlaBold;
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;
  margin: 2em 2em 6em 2em;
}

.stor-knap:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

.chart-containerFront {
  margin: 2em;
}

/* MEDIA QUERY 1120px */
@media only screen and (min-width: 1120px) {
  .bedrifter {
    width: 40%;
  }

  .counter-thingy {
    display: block;
  }
}
/* ---------- Mike CSS ---------- */

#tipsInfo {
  width: 300px;
  margin: 0 auto;
}

.tipsWrapper {
  justify-content: center;
  padding-bottom: 5em;
}

.tipsWrapper img {
  width: 40%;
  height: 40%;
  margin: auto;
  margin-right: 6em;
  margin-left: 6em;
  text-align: left;
}

h1 {
  font-size: 1.2em;
}

.imgright {
  display: none;
}

@media only screen and (min-width: 1024px) {
  #tipsInfo {
    width: 740px;
    margin: 0 auto;
  }

  .tipsWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
  }

  .tipsWrapper img {
    width: 25%;
    height: 25%;
    margin: auto;
    margin-right: 6em;
    margin-left: 6em;
    text-align: left;
  }

  .imgright {
    width: 25%;
    height: 25%;
    margin: auto;
    margin-right: 6em;
    margin-left: 6em;
    text-align: left;
    display: flex;
  }

  .imgleft {
    display: none;
  }

  .tipsWrapper p {
    text-align: left;
    margin: 4em;
    position: relative;
    line-height: 1.6em;
  }
}

@media only screen and (min-width: 1200px) {
  #tipsInfo {
    width: 1024px;
    margin: 0 auto;
  }
}

/* ---------- Joshua CSS ---------- */

#charts h2 {
  padding-top: 2em;
}

#chartsInner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 7.5em;
}
.chart-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 5em;
}

#chartsInner .chart-container {
  width: 75%;
}

@media (max-width: 768px) {
  #chartsInner {
    display: block;
    padding: 3em;
  }
}

/* ---------- Sander CSS ---------- */
.progressBar {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  padding: 1em;
  background: linear-gradient(
    to right,
    var(--green) 20%,
    var(--light-green) 0% 100%
  );
}

.progressBar figure {
  display: flex;
  justify-content: center;
  width: 100%;
}

.survey-wrapper {
  width: 50%;
  margin: 0 auto;
}

.survey-inner-wrapper {
  background: white;
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em;
}

.top-form-wrapper,
.btn-wrapper {
  width: 50%;
  margin: 0 auto;
}

.top-form-wrapper {
  padding: 0;
}

.top-form-wrapper input {
  width: 100%;
  margin: 1em 0;
  border-radius: 5px;
}

.survey-wrapper .btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.survey-wrapper .btn {
  width: 12.5em;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
  color: var(--text-color-light);
  background-color: var(--green);
}

.survey-wrapper .btn-back {
  background-color: grey;
}

.question-type-wrapper {
  display: flex;
  justify-content: flex-end;
}
