/* ---------- Mike CSS ---------- */

#tipsInfo {
    width: 300px;
      margin: 0 auto;
  }
  
  .tipsWrapper {
    
    justify-content: center;
    padding-bottom: 5em;
  }
  
  .tipsWrapper img {
    width: 40%;
    height: 40%;
    margin: auto;
    margin-right: 6em;
    margin-left: 6em;
    text-align: left;
  }

  h1 {
      font-size: 1.2em;
  }

  .imgright{
      display: none;
  }




  


@media only screen and (min-width: 1024px) {
#tipsInfo {
    width: 740px;
      margin: 0 auto;
  }
  
  .tipsWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
  }
  
  .tipsWrapper img {
    width: 25%;
    height: 25%;
    margin: auto;
    margin-right: 6em;
    margin-left: 6em;
    text-align: left;
  }

  .imgright{
    width: 25%;
    height: 25%;
    margin: auto;
    margin-right: 6em;
    margin-left: 6em;
    text-align: left;
    display: flex;
}

  .imgleft{
    display: none;
}
  
  .tipsWrapper p  {
    text-align: left;
    margin: 4em;
    position: relative;
    line-height: 1.6em;
  }

}

@media only screen and (min-width: 1200px) {

    #tipsInfo {
        width: 1024px;
          margin: 0 auto;
      }
}

